html{
    box-sizing: border-box;
    background: url("https://images.wallpaperscraft.com/image/single/notebook_coffee_book_166646_3840x2160.jpg") no-repeat center fixed;     
    background-size: cover;
}

body{
    font-family: "Roboto";
    height: 100vh;
    width: 100vw;
}

.card{
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    height: 98vh;
}

#card-title{
    background-color: #004444;
    color: white;
    font-size: 15px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 7%;
    border-radius: 5px;
    margin: 0px;
}

#list-div{
    flex-basis: 80%;
    overflow: auto;
    background-color: rgba(147, 130, 99, 0.5);
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
}

li:nth-child(2n){
    background-color: #f7f7f7;
}

ul{
    margin:0;
    padding:0;
    list-style: none;
    width: 100%;
}

.assignment-item{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    line-height: 0px;
    padding: 10px;
    color: #666;
    border-radius: 6px;
    margin: 5px 0px;
    margin: 10px;
}

.content-container{
    flex-basis: 85%;
}

.assignment-name{
    margin: 10px 0px 10px 0px;
}

.input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.assignment-weight, .assignment-grade{
    width: 80px;
    height: 25px;
    margin: 10px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
}

.delete-button{
    width: 100%;
    height: 100%;
}

.bottom-container{
    display: flex;
    flex-direction: column;
    flex-basis: 13%;
    margin: 0px;
    width:100% ;
    background-color: #f7f7f7;
    border-radius: 5px;
}

#name-container, .calculate-container{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    align-items: center;
    height: 50%;
}

#name-input, .target-grade-input {
    height: 100%;
    flex-grow: 3;
    margin: 10px;
}

input{
    font-size: 15px;
    background-color: #f7f7f700;
    color: #004444;
    border: 0px;
    border-bottom: 2px solid #0044443e;
}

#add-button, #calculate-button{
    flex-grow: 2;
    height: 100%;
    width: 30px;
    border: 1px #004444 solid;
}

button{
    cursor: pointer;
    border: none;
    background-color: #fbfbfb00;
    border-radius: 3px;
}

button:hover{
    scale: 0.9;
    background-color: #128383;
}


@media (min-width: 700px){
    .card{
        width: 500px;
        height: 95vh;
        margin: 0 auto;
    }

    .content-container{
        display: flex;
        flex-direction: row;
    }

    .assignment-name{
        flex-basis:40%;
        align-self: center;
    }
    
    .input-container{
        flex-basis: 60%;
        }

    .delete-button{
        height: 90%;
    }

    #name-input, .target-grade-input {
        font-size: 1.3rem;
    }
    
}
